html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
}

footer {
    width: 100%;
    height: 100px;
    background-color: silver;
    
}

.container {
    width:100%;
    margin:0
    auto;
}

.header-ull {
    list-style:none;
}

.header-item{
  float: left;
  text-align: center;
  margin-right: 10px;
  font-weight: 100;
}
