@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    line-height: 210%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F4F4F4; /* hr:after { background-color: #F4F4F4; } 과 연동되어야 함 */
    padding-top: 75px;
    /* font-family: "Noto Sans KR"; LaTeX에 악영향 */
    font-family: Helvetica;
}

/*Helvetica, '맑은 고딕', 'malgun gothic', 'Noto Sans KR', 'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif; 
*/

a {
    height: 20px;
    border-bottom: 4px double #bbbbbb; /*Aqua*/
    /*border: 4px double #aaaaaa;*/
    /*border-bottom: 2px solid #d1d1d1;*/
    margin: 2px 0px 2px 0px;
    padding: 3px 0px 3px 0px;
    display: inline-block;
    text-decoration: none;
    /*color: #8181F7; #118811;*/
    color: #118811;
}

table {
    border: 1px solid #444444;
}

th {
    border: 1px solid #444444;
    padding: 5px;
}

.tdPost {
    border: 1px solid #444444;
}

td {
    padding: 3px;
    /* border: 1px solid #444444; */
}

#postTitle {
    text-align: center;
    /* 이 이후로는 기본 h1 태그와 동일 */
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

hr {
    border: none;
    border-top: 3px double gray;
    text-align: center;
    overflow: visible;
    box-shadow: 0 10px 10px -10px #dddddd inset;
    /* border-image: linear-gradient(to right, black, #cacaca,black);
    border-image-slice: 1; */
}

hr:after {
    content: "▾ ◈ ▾"; /* https://www.toptal.com/designers/htmlarrows/symbols/  \2654 */
    display : inline-block;
    position: relative;
    top: -16px;
    background-color: #F4F4F4;  /* html, body { background-color: #F4F4F4; } 과 연동되어야 함 */
    padding: 0 10px;
}

del {
    text-decoration: line-through;
}

blockquote {
    /*background-color: Ghostwhite;*/
    background-color: #eaeaeaea; /* 240 240 255 */ /* rgb(240 250 240 / 50%) */
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 45px;
    border-left: 15px solid #7a828d; /* #ccd1d8 */
    border-right: 3px solid #606060; /* #aab2bc, 99afce? */
    box-shadow: 0 8px 16px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.22), 0px 0px 10px 3px #cccccc inset;
}

.legalpad {
    background-color: yellow;
    border-left: 6px solid #F5E4B0;
    border-right: 3px solid #fbe6a2;
    background-image: repeating-linear-gradient(#fff1c4, #fff1c4 18px, #CED09F 20px);
}

header {
    padding: 0px 0px 5px 0px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(220, 220, 220, 0.95); /* gainsboro;  */
    border-bottom: 5px solid darkgray;
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
    z-index: 5;
    text-align: center;
    box-shadow: 0 32px 32px rgba(169, 169, 169, 0.2), 0 8px 8px rgba(169, 169, 169, 0.1);
    font-weight: 600;
}

header a {
    color: #000000;
    border-bottom: double 4px #000000;
}

/*
#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
}
*/

#goPage2 {
    width: 70%;
    margin: 7px;
    color: #000000; /* #3A83BB */
    padding: 5px; 
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
}

#goPage {
    width: 70%;
    margin: 7px;
    color: #000000;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
}

#whatPage{
    height: 25px;
    width: 80%;
    margin: 7px;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    font-size: small;
}

section{
    /* background-color: #F8F8FF; */
    width: calc(100% - 550px - 1rem);
    padding: 30px 190px 30px 190px;
    float: left;
}

details {
    margin: 20px;
    padding: 15px;
    border: 7px double #aaaaaa;
    border-radius: 4px;
}

aside {
    text-align: center;
    width: 150px;
    height: 650px;
    margin: 30px 20px 20px 0px;
    border: 7px double #000000; /* aaaaaa */
    border-radius: 15px;
    float: right;
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
    background-image: linear-gradient(#fff, #fff), linear-gradient(135deg, #aaaaaa, white, #aaaaaa, white, #aaaaaa);
    background-origin: border-box;
    background-clip: padding-box, border-box; /* 패딩 박스 대신 컨텐츠 박스로 하면 탭에서 다르게 보임 */
}

aside a{
    color: #000000;
}

code {
    font-family: Consolas;
    background-color: #EBEBEB;
}

pre {
    font-family: Consolas;
}

@media (max-width: 1023px) {
    
    section {
    /* background-color: #F8F8FF; */
    width: calc(100% - 1rem);
    padding: 20px 0px 20px 0px;
    margin-left: auto; margin-right: auto;
    float: none;
    }
    
    aside {
        text-align: center;
        width: 150px;
        height: 550px;
        margin: 0px 0px 0px 0px;
        margin-left: auto; margin-right: auto;
        padding: 20px 20px 20px 20px;
        float: none;
    } 

}

@media (max-width: 767px) {
    
    section {
        /* background-color: #F8F8FF; */
        width: calc(100% - 1rem);
        padding: 20px 10px 20px 10px;
        float: none;
    }
    
    aside {
        text-align: center;
        width: calc(100% - 40px - 1rem);
        height: 450px;
        margin: 20px 20px 20px 20px;
        padding: 0px 0px 0px 0px;
        float: none;
    } 
    
    details {
        margin: 8px;
        padding: 5px;
        border-radius: 4px;
    }
    
    header {
        padding: 10px 10px 10px 10px;
        display: flex;
        justify-content: space-between;
    }

}

footer {
    width: 100%;
    height: 250px; /* 더 줄이면 footer가 뜨는 현상 발생 */
    /*bottom: 0px;
    position : absolute;
    */
    clear: both;
    background-color: #151515; /*darkgray*/
    border-top: 10px double #ffffff;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}

footer a {
    color: #ffffff;
    border-bottom: double 4px #ffffff;
}

.container {
    width: 100%;
    margin: 0
    auto;
}

.header-ull {
    list-style: none;
    text-align: center;
}

.header-item{
    float: center;
    margin-right: 25%;
    /* font-weight: 100; */
}

.highlighter-html{
    background-image: linear-gradient(to right, #B4FBFF, #b1d2e5);
    border-right: 2px solid #a3c1d2;
    transform: skewX(330deg); /* 진짜 형광펜처럼 기울이려 하는데 작동하지 않음 */
    -webkit-transform: skewX(330deg);
    -ms-transform: skewX(330deg); 
}

/* LaTeX 튀어나오는 현상을 방지하기 위해 나중에는 긴 LaTeX을 본문 대신 blockquote, details 태그 안에만 넣고 가로 스크롤바를 넣기 */

/* 구 버전

hr {
    border: none;
    border-top: 1px solid gray;
    text-align: center;
    overflow: visible;
}

hr:after {
    content: " ⋆ ◇ ⋆ ";
    display : inline-block;
    position: relative;
    top: -18px;
    background-color: #F4F4F4;  /* html, body { background-color: #F4F4F4; } 과 연동되어야 함
    padding: 0 10px;
}

*/

/*

기존엔 후보만 나열하고 폰트 설정이 없었음

*/
