header {
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
}

#wrapper{
    min-height: 100%;
    padding-bottom: 100px; /*footer의 height와 크기가 같아야 함*/
}

footer {
    height: 100px; /*#wrapper의 padding-bottom과 크기가 같아야 함*/
    position : relative;
    transform : translateY(-100%);
    background-color: gainsboro;
    
}

.container {
    width:100%;
    margin:0
    auto;
}

.header-ull {
    list-style:none;
}

.header-item{
  float: left;
  text-align: center;
  margin-right: 10px;
  font-weight: 100;
}
